@use './partials/variables' as *;

$fa-font-path: '../webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btn {
    background: linear-gradient(to right top, #00d9a6, #3fdc96, #5fde84, #7bdf72, #95e060);
    border-radius: 40px;
    padding: 15px 40px;
    transition: transform 0.5s ease;
    box-shadow: 1px 1px 20px 10px rgba($color: #5fde84, $alpha: 0.2);

    &:hover {
        background: linear-gradient(to right top, #454545, #373737, #292929, #1c1c1c, #0d0d0d);
        transform: scale(1.1);
    }
}